/* Estilos gerais para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal da calculadora */
.calculator-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    margin: 0 auto;
}

h1 {
    color: #333;
    margin-bottom: 25px;
}

/* Grupo de input e label */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

/* Campos de entrada de número */
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; /* Garante que o padding não altere a largura total */
    font-size: 16px;
}

/* Botão de calcular */
button {
    width: 100%;
    padding: 12px;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Parágrafo do resultado */
.result {
    margin-top: 25px;
    font-size: 18px;
    color: #333;
}

/* Valor do resultado em destaque */
#resultValue {
    font-weight: bold;
    color: #cc0000;
}


.topo{
    display: block;
    width: 100%;
    margin: 50px;
    text-align: center;
}